@import "./customvariables";
/**** COMMON STYLE ****/
.green-text-color {
  color: $green_color;
}

.grey-text-color {
  color: $grey_color;
}

.greenBgColor {
  background: $green_color !important;
}

.greyBgColor {
  background: $grey_color;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn.greenBgColor {
  border-color: #7fbd2e !important;
}

.btn.greenBgColor:active {
  border-color: #7fbd2e !important;
  box-shadow: 0 0 0 0.1rem rgb(139, 197, 63) !important;
}

.header {
  z-index: 1030;
  background: $skin_color;
  padding-right: 0px !important;
  nav {
    height: var(--header-height);
    margin: 0px 40px;
    border-bottom: 2px solid $border_color;
    .logo {
      display: block;
      float: left;
      line-height: var(--header-height);
      img {
        height: 60px;
        width: auto;
      }
    }
    .header-menu {
      margin-left: 12px;
      height: 100%;
      .menu-icon {
        height: 100%;
        width: 100%;
        margin: 2px 0 2px;
        padding-top: 20px;
        img {
          max-height: 24px;
        }
        p {
          margin: 4px auto;
          color: #000;
          font-size: 11px;
        }
      }
      .menu-icon:hover {
        background-color: $menu_hover_color;
      }
    }
    .header-menu > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .navbar-right {
      position: relative;
      .dropdown-item {
        padding: 0;
        width: 100%;
        outline: none;
      }
      div.dropdown {
        > a {
          color: $zoom_color;
        }
        .dropdown-menu > button {
          padding: 10px 15px;
        }
        &.notifications-menu {
          .noti-icon {
            height: 24px;
            width: auto;
          }
        }
        > a > i {
          font-size: 23px;
        }
        > a {
          display: block;
          padding: 12px;
        }
        &:hover > a {
          background-color: #ededed;
          color: #000;
        }
        > a.padding-user {
          padding-top: 8px;
          padding-bottom: 6px;
        }
      }
      .bell_bg {
        button.btn-secondary {
          background-color: $bell-color;
          border: none;
          box-shadow: none !important;
          &:hover {
            background-color: #ededed !important
          }
          &:active {
            color: $toggle_color !important;
          }
        }
        &.user_btn .dropdown-toggle {
          padding: 2px;
        }
      }
    }
    .navbar-right > div {
      position: absolute;
      right: 0px;
      display: flex;
      height: var(--header-height);
      .user.user-menu, .notifications-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

.wrapper {
  margin-top: 80px;
}

.sidebar-toggle {
  margin-left: 10px;
}

.tabs_cont,
.event_date {
  background-color: #fff !important;
}

.noti_msg {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #4f90c1;
  border-radius: 50px;
  margin-top: 10px;
}

.user.user-menu > button img {
  width: 35px;
  height: 35px;
}

/**** END HEADER RIGHT SIDE DROPDOWNS ****/

.notifications_badge_top {
  margin-top: -28px;
  margin-left: 10px;
  position: absolute;
  span {
    top: 1px;
    left: 2px;
    border-radius: 50%;
  }
}

.notifications-menu .dropdown-item {
  width: 100%;
  display: block;
}

.dropdown-footer {
  padding: 10px !important;
}

.page-content {
  padding: 10px 40px 10px 55px;
}

.catalogue-content {
  position: relative;
  min-height: 56vh;
  padding-bottom: 80px;
  margin: 2vw 7vw;
  .row {
    margin: 0;
    .back-btn {
      margin-left: 190px;
    }
  }
  .content-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.btn-secondary {
  background-color: $grey_btn_color;
  border-color: $grey_btn_color;
}

.modal-title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: -10px;
  font-size: 24px;
  font-weight: 700;
}

/* Modal Style */
.modal-open {
  padding-right: 0px !important;
  .catalogue-modal .modal-content {
    .modal-header {
      border-bottom: unset;
      padding-bottom: 0;
      .close {
        font-size: 32px;
        cursor: pointer;
      }
    }
    .modal-body {
      p {
        padding: 0 15px;
      }
    }
  }
}

/* Footer Style */
.footer {
  height: 120px;
  background: $footer_color;
  width: 100%;
  nav {
    padding: 20px 60px;
    .footer-logo {
      img {
        height: 32px;
      }
      span {
        padding-left: 10px;
        color: $footer_text_color;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .footer-copyright {
      padding-top: 20px;
      padding-left: 0px;
      color: $footer_text_color;
    }
    .footer-menu {
      text-align: right;
      padding-top: 20px;
      padding-right: 0px;
      a {
        color: $footer_text_color;
        padding: 0px 10px;
      }
      a:not(:last-child) {
        border-right: 1px solid $footer_text_color;
        padding: 0px 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .dropdown.open .dropdown-menu {
    position: absolute;
  }
  .navbar-right > li > a {
    padding: 10px 12px;
  }
}

/* Fix menu positions on xs screens to appear correctly and fully */

@media (max-width: 560px) {
  body .header .logo,
  body .header nav {
    width: 100%;
  }
  body .header nav .sidebar-toggle {
    padding-left: 15px;
  }
  nav {
    height: 100px !important;
  }
}
